<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  </head>
  <body>
    <main class="container">
      <h1>
        Health Check
      </h1>
      <ul>
        @each(check in report.checks)
          <li>
            <strong>{{ check.name }}: <b>{{ check.status }}</b></strong>
            <br />
            {{ check.message }}
          </li>
        @end
      </ul>
    </main>
  </body>
</html>
